[Unit]
Description=Kanata keyboard remapper
Documentation=https://github.com/jtroo/kanata

[Service]
Type=simple
# Ensure /usr/bin/kanata matches your 'which kanata' output
ExecStart=/usr/bin/kanata --cfg %h/.config/kanata/kanata.kbd
Restart=no

[Install]
WantedBy=default.target
